<app-section-header icon="sliders" title="Preferences" />

<div class="bg-white p-6 rounded-xl shadow space-y-4 text-sm text-gray-700">
  <div class="flex items-center justify-between">
    <span>Theme</span>
    <span class="text-gray-500 italic">Clair</span>
  </div>
  <div class="flex items-center justify-between">
    <span>Notifications email</span>
    <span class="text-green-600 font-medium">Activate</span>
  </div>
  <div class="flex items-center justify-between">
    <span>Notifications SMS</span>
    <span class="text-gray-500 italic">Deactive</span>
  </div>
</div>
